<footer class="footer grid__area bg bg_color_black" style="--grid-area: footer">
    <div class="footer__container">
        <div class="footer__container-description">
            <img class="footer__logo" src="../../img/logo.svg" alt="Logo">
            <p class="footer__description">Photographers & videographers capturing the world around us.</p>
        </div>
        <ul class="footer__container-list list">
            <li class="list__item text text_type_title">Business areas</li>
            <li class="list__item"><a class="link footer__link" href="#">Product Photography</a></li>
            <li class="list__item"><a class="link footer__link" href="#">Architecture Photography</a></li>
            <li class="list__item"><a class="link footer__link" href="#">Drone Photography</a></li>
            <li class="list__item"><a class="link footer__link" href="#">Wildlife Photography</a></li>
        </ul>
        <ul class="footer__container-list list">
            <li class="list__item text text_type_title">Pages</li>
            <li class="list__item"><a class="link footer__link" href="#">Gear cage</a></li>
            <li class="list__item"><a class="link footer__link" href="#">Featured images</a></li>
            <li class="list__item"><a class="link footer__link" href="#">Contact</a></li>
            <li class="list__item"><a class="link footer__link" href="#">Style guide</a></li>
            <li class="list__item"><a class="link footer__link" href="#">Instructions</a></li>
            <li class="list__item"><a class="link footer__link" href="#">Changelog</a></li>
        </ul>
    </div>
    <span class="footer__hr"></span>
    <div class="footer__subscribe">
        <div class="footer__subscribe-description">
            <span class="footer__title text text_type_title">Subscribe to our newsletter</span>
            <p class="footer__description">Read about all the things we do.</p>
        </div>
        <label class="footer__subscribe-input subscribe">
            <input class="subscribe__input input" value="" type="text">
            <button class="subscribe__btn btn btn_color_black btn_round_s1"></button>
        </label>
    </div>
    <span class="footer__hr"></span>
    <div class="footer__copyright">
        <div>
            <span class="footer__copyright-text">© Aperture Photography, Inc. All rights reserved.</span>
            <a href="#" class="footer__description link">Licensing</a>
        </div>
        <div class="footer__copyright-social-networks social-networks">
            <a class="social-networks__icon" href="">
                <img src="../../img/social-networks/twitter.svg" alt="Social Network">
            </a>
            <a class="social-networks__icon" href="">
                <img src="../../img/social-networks/instagram.svg" alt="Social Network">
            </a>
            <a class="social-networks__icon" href="">
                <img src="../../img/social-networks/facebock.svg" alt="Social Network">
            </a>
        </div>
    </div>
</footer>