:root {
  // COLOR PALETTE
  --color-white: #FFFFFF;
  --color-soft-white: #E5E7EB;
  --color-black: #000000;
  --color-soft-black: #181818;
  --color-gay: #C0C0C0;
  --color-white-gray: #F9FAFB;
  //--color-red: #FF5437;
  //--color-blue: #0278ED;
  //--color-orange: #FF9209;
  //--color-pink: #E738CE;
  //--color-violet: #B25DF8;
  //--color-gray: #666666;
  //--color-black-gray: #B1B1B1;
  //--color-light-gray: #E5E5E5;
  //--color-dark-white: #f5f5f8;

  // TEXT SIZE
  --text-size-base: 16px;
  --text-size-es: 0.75rem; // 12px Extra small
  --text-size-sm: 0.81rem; // 14px Small
  --text-size-md: 0.93rem; // 15px Medium
  --text-size-no: 1rem;    // 16px Normal
  --text-size-nm: 1.44rem; // 23px Normal Medium
  --text-size-nl: 1.75rem; // 28px Normal Large
  --text-size-lg: 2.5rem;  // 40px Large
  --text-size-el: 3.37rem; // 54px Extra large

  // LINE HEIGHT
  --line-height: 20px;
}